extends default


block contents
	div(class="container-fluid" id="main-page-contents")
		h2 Main Page
		br
		table(class="button-list")
			tr
				td
					a(href="/signup" class="ref-button" role="button") Sign Up
				td
					a(href="/users" class="ref-button" role="button") Users
				- if (user_data)
					td
						a(href="/reddit/r/all" class="ref-button" role="button") Hot Posts
					td
						a(href="/posts" class="ref-button" role="button") Saved Posts
		br
		br
		- if (user_data)
			table
				tr
					td
						div(class="container-fluid" id="main-page-browse-input")
							form(action="/reddit/sub/" method="get")
								label(for="subreddit") r/
								input(type="text" name="subreddit" id="subreddit")
								input(type="submit" value="Browse Subreddit" class="ref-button")
				tr
						td
							div(class="container-fluid" id="main-page-search-input")
								form(action="/reddit/search/" method="get")
									input(type="text" name="query" id="query")
									input(type="submit" value="Search Reddit" class="ref-button")
