extends default
include view_post

block contents
	a(href="/" class="ref-button") Home
	br
	div(id="post_list" class="post_list")
		h3= "Browsing r/" + subreddit
		a(href="/reddit/r/" + subreddit + "?step=before" class="ref-button") Before
		a(href="/reddit/r/" + subreddit + "?step=after" class="ref-button") After

		each post in posts
			+view_post(post)
			br
			br
