extends default

block contents
	div(id="users-table")
		table
			tr
				th Username
				th Role
				th Actions
			each user in users
				tr
					td= user.username
					td= user.role
					td
						a(href="/user/update/" + user.username class="ref-button") Update
					td
						form(action="/user/delete/" + user.username method="post")
							input(type="submit" value="Delete" class="ref-button")
			else
				h4 There Are No Users
